body{
	margin: 0px;   
}
main{
	background-image:linear-gradient(90deg, #4b6076, #738daa);
	font-family: sans-serif;
    font-size: 30px;
}
/*Body header*/

#body-header{
	height: 65vh;
	background-image: url(https://cdn-images.zety.com/pages/resume_headline_6.jpg);
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 1.2rem;
}

/*Hosrizontal-list*/
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 0px 15px 15px 0px;
}
.horizontal-list li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center{
	text-align: center;
}

#body-header-title{
	color: white;
	margin-top: 17vh;
	font-size: 3.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

#body-header-title:hover{
    font-size: 3.6rem;
    color: whitesmoke;
}

.social-icons li a i{
    /*color: red;*/
    padding : 8px;
    margin-right: 15px;
    font-size: 1.3rem;
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 16px 14px rgba(230, 196, 196, 0.3);
}

/*Section classes*/
section{
	width: 100%;
	/*height: 75vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: white;
}

section:nth-child(2n+1){
	background-color: #fff087;
}

section:nth-child(1){
	background-color: #fff087;
	border: 2px dotted goldenrodyellow;
	border-top-right-radius: 25%;
	border-top-left-radius: 25%;
}
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;

	border-bottom: 5px ridge red;
	border-radius: 22%;
	border-bottom-left-radius: 0%;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem ;
}

/*About section*/

#about{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}

#abt-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#abt-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    border: 5px dashed slategrey;
    box-shadow: 2px 2px 10px 4px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/*skills section*/

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.skills-progress>div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name{
	font-size: x-large;
}
.skill-name:hover{
	background-color: currentColor;
	transition: background-color 1s;
}
.skill-name span {
    color: white;
	font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 60px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;   
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 10px 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/*Contact-section*/

#contact{
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    transition: background-image 4s ease-in-out;
    color: white;
    padding-bottom: 40px;
}

#contact:hover{
    color: whitesmoke;
    background-image: linear-gradient(190deg, #2857a4 0%, #403066 74%);
}

#contact h1, #contact h1 span{
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    width: 100%;
    display: flex;
}

#contact-form-container {
    width: 50%;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
} 

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;
}

#my-details-container {
    width: 40%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container i{
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Experience-Section*/

.experience-container, .education-container{
    position: relative;
    width:75%;
    margin-bottom: 50px;
}

.education-item{
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
    text-align: right;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    padding-right: 4px;
    padding-left: 4px;
}

#edu-hov>div:hover{
    box-shadow: 0px 0px 10px 5px greenyellow;
}

.experience-item{
    position: relative;
    width: 40%;
    left: 5%;
    min-height: 150px;
    text-align: right;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    padding-right: 2px;
    
}

.experience-item:nth-child(2n), .education-item:nth-child(2n){
    left: 53.5%;
    border-left: 0px;
    border-right: 2px solid orange;

}

.experience-item::after, .education-item::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 109.25%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.7rem;
    background-color: darkgoldenrod;
    z-index: 1;
}

.experience-item:nth-child(2n)::after, .education-item:nth-child(2n)::after{
    left: -9.25%;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 65%;
    width: 0;
    border: 1px black;
    border-style: dashed;
    top: 19.25%;
    left: 50%;
}

.timeline-traveller{
    position: sticky;
    top: 40%;
    transform: rotate(90deg);
    z-index: 3;
}

/*education and experience data*/

.education-details, .experience-details{
    padding: 8px;
}

.education-logo, .experience-logo{
    position: absolute;
    width: 70px;
    margin-top: 25px;
    overflow: hidden;
}

.education-logo > img, .experience-logo > img{
    width: 100%;    
}

.education-designation, .experience-designation{
    font-size: 1.4rem;
}

.education-company-name, .experience-company-name{
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.education-duration, .experience-duration{
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.education-description, .experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}


/*Common Margin Classes*/
.mb75px{
    margin-bottom: 75px;
}

/*Common color classes*/
.text-highlight{
    color: #2857a4;
    font-weight: 600;
}

.mb-blue{
    background-color: #2857A4;
}
.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

/*Percentage Classes*/
.S85-percent{
    width: 85%;
    height: inherit;
}

.S80-percent {
    height: inherit;
    width: 80%;
}

.S50-percent {
    height: inherit;
    width: 50%;
}
